In [2]:
import pandas as pd
import numpy as np

In [8]:
random_numbers = np.random.randint(low=0,high=1000000,size=(1000000,1))
print(random_numbers)

[[799404]
 [760195]
 [398381]
 ...
 [432393]
 [116539]
 [472019]]

In [9]:
df = pd.DataFrame(data=random_numbers,columns=["Numbers"])
df.head()

   Numbers
0   799404
1   760195
2   398381
3   394714
4   697961

In [16]:
number_list = random_numbers.tolist()
# Calculate Mean
total = 0
for i in number_list:
    total += i[0]
print(total)

500273394284

In [21]:
mean = total
if len(number_list) > 1:
    mean = total / len(number_list)
print(mean)

500273.394284

In [22]:
print(random_numbers.mean())

500273.394284

In [24]:
# Median
medianIndex = 0

if len(random_numbers) > 1:
    medianIndex = len(random_numbers) // 2

print("The Median of the Initialized list is: ",random_numbers[medianIndex] )

The Median of the Initialized list is:  [856644]